{
  "extends": [
    "react-app",
    "airbnb",
    "plugin:jsx-a11y/recommended",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],
  "plugins": [
    "jsx-a11y",
    "react-hooks"
  ],
  "rules": {
    "semi": 1,
    "react/no-unused-state": 2,
    "react/jsx-props-no-spreading": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/display-name": [2, { "ignoreTranspilerName": true }],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "react/jsx-no-comment-textnodes": "off",
    "react/jsx-one-expression-per-line": "off",
    "react/jsx-indent": "off",
    "object-curly-newline": "off",
    "implicit-arrow-linebreak": "off",
    "react/jsx-indent-props": "off",
    "quotes": "off",
    "react/jsx-curly-newline": "off",
    "consistent-return": "off",
    "import/no-extraneous-dependencies": "off",
    "arrow-body-style": "off",
    "comma-dangle": "off",
    "react/react-in-jsx-scope": "off",
    "indent": "off",
    "eqeqeq":"off",
    "linebreak-style": 0,
    "jsx-a11y/label-has-associated-control": ["error", {
        "required": {
          "some": ["nesting", "id"]
        }
      }],
    "jsx-a11y/label-has-for": ["error", {
        "required": {
          "some": ["nesting", "id"]
        }
      }]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": ["node_modules", "src/"]
      }
    }
  }
}